#include "resource.h"

// Application icon
IDI_APP_ICON ICON "TrayCycleBin.ico"

// Dark theme icons
IDI_BIN_DARK_00 PNG "TrayCycleBinDark00.png"
IDI_BIN_DARK_01 PNG "TrayCycleBinDark01.png"
IDI_BIN_DARK_02 PNG "TrayCycleBinDark02.png"
IDI_BIN_DARK_03 PNG "TrayCycleBinDark03.png"
IDI_BIN_DARK_04 PNG "TrayCycleBinDark04.png"
IDI_BIN_DARK_05 PNG "TrayCycleBinDark05.png"
IDI_BIN_DARK_06 PNG "TrayCycleBinDark06.png"
IDI_BIN_DARK_07 PNG "TrayCycleBinDark07.png"
IDI_BIN_DARK_08 PNG "TrayCycleBinDark08.png"
IDI_BIN_DARK_09 PNG "TrayCycleBinDark09.png"
IDI_BIN_DARK_10 PNG "TrayCycleBinDark10.png"
IDI_BIN_DARK_11 PNG "TrayCycleBinDark11.png"
IDI_BIN_DARK_12 PNG "TrayCycleBinDark12.png"
IDI_BIN_DARK_13 PNG "TrayCycleBinDark13.png"
IDI_BIN_DARK_14 PNG "TrayCycleBinDark14.png"
IDI_BIN_DARK_15 PNG "TrayCycleBinDark15.png"
IDI_BIN_DARK_16 PNG "TrayCycleBinDark16.png"
IDI_BIN_DARK_17 PNG "TrayCycleBinDark17.png"
IDI_BIN_DARK_18 PNG "TrayCycleBinDark18.png"
IDI_BIN_DARK_19 PNG "TrayCycleBinDark19.png"
IDI_BIN_DARK_20 PNG "TrayCycleBinDark20.png"
IDI_BIN_DARK_21 PNG "TrayCycleBinDark21.png"
IDI_BIN_DARK_22 PNG "TrayCycleBinDark22.png"
IDI_BIN_DARK_23 PNG "TrayCycleBinDark23.png"
IDI_BIN_DARK_24 PNG "TrayCycleBinDark24.png"
IDI_BIN_DARK_25 PNG "TrayCycleBinDark25.png"
IDI_BIN_DARK_26 PNG "TrayCycleBinDark26.png"
IDI_BIN_DARK_27 PNG "TrayCycleBinDark27.png"
IDI_BIN_DARK_28 PNG "TrayCycleBinDark28.png"
IDI_BIN_DARK_29 PNG "TrayCycleBinDark29.png"
IDI_BIN_DARK_30 PNG "TrayCycleBinDark30.png"
IDI_BIN_DARK_31 PNG "TrayCycleBinDark31.png"
IDI_BIN_DARK_32 PNG "TrayCycleBinDark32.png"
IDI_BIN_DARK_33 PNG "TrayCycleBinDark33.png"
IDI_BIN_DARK_34 PNG "TrayCycleBinDark34.png"
IDI_BIN_DARK_35 PNG "TrayCycleBinDark35.png"
IDI_BIN_DARK_36 PNG "TrayCycleBinDark36.png"
IDI_BIN_DARK_37 PNG "TrayCycleBinDark37.png"
IDI_BIN_DARK_38 PNG "TrayCycleBinDark38.png"
IDI_BIN_DARK_39 PNG "TrayCycleBinDark39.png"
IDI_BIN_DARK_40 PNG "TrayCycleBinDark40.png"
IDI_BIN_DARK_41 PNG "TrayCycleBinDark41.png"
IDI_BIN_DARK_42 PNG "TrayCycleBinDark42.png"
IDI_BIN_DARK_43 PNG "TrayCycleBinDark43.png"

// Light theme icons
IDI_BIN_LIGHT_00 PNG "TrayCycleBinLight00.png"
IDI_BIN_LIGHT_01 PNG "TrayCycleBinLight01.png"
IDI_BIN_LIGHT_02 PNG "TrayCycleBinLight02.png"
IDI_BIN_LIGHT_03 PNG "TrayCycleBinLight03.png"
IDI_BIN_LIGHT_04 PNG "TrayCycleBinLight04.png"
IDI_BIN_LIGHT_05 PNG "TrayCycleBinLight05.png"
IDI_BIN_LIGHT_06 PNG "TrayCycleBinLight06.png"
IDI_BIN_LIGHT_07 PNG "TrayCycleBinLight07.png"
IDI_BIN_LIGHT_08 PNG "TrayCycleBinLight08.png"
IDI_BIN_LIGHT_09 PNG "TrayCycleBinLight09.png"
IDI_BIN_LIGHT_10 PNG "TrayCycleBinLight10.png"
IDI_BIN_LIGHT_11 PNG "TrayCycleBinLight11.png"
IDI_BIN_LIGHT_12 PNG "TrayCycleBinLight12.png"
IDI_BIN_LIGHT_13 PNG "TrayCycleBinLight13.png"
IDI_BIN_LIGHT_14 PNG "TrayCycleBinLight14.png"
IDI_BIN_LIGHT_15 PNG "TrayCycleBinLight15.png"
IDI_BIN_LIGHT_16 PNG "TrayCycleBinLight16.png"
IDI_BIN_LIGHT_17 PNG "TrayCycleBinLight17.png"
IDI_BIN_LIGHT_18 PNG "TrayCycleBinLight18.png"
IDI_BIN_LIGHT_19 PNG "TrayCycleBinLight19.png"
IDI_BIN_LIGHT_20 PNG "TrayCycleBinLight20.png"
IDI_BIN_LIGHT_21 PNG "TrayCycleBinLight21.png"
IDI_BIN_LIGHT_22 PNG "TrayCycleBinLight22.png"
IDI_BIN_LIGHT_23 PNG "TrayCycleBinLight23.png"
IDI_BIN_LIGHT_24 PNG "TrayCycleBinLight24.png"
IDI_BIN_LIGHT_25 PNG "TrayCycleBinLight25.png"
IDI_BIN_LIGHT_26 PNG "TrayCycleBinLight26.png"
IDI_BIN_LIGHT_27 PNG "TrayCycleBinLight27.png"
IDI_BIN_LIGHT_28 PNG "TrayCycleBinLight28.png"
IDI_BIN_LIGHT_29 PNG "TrayCycleBinLight29.png"
IDI_BIN_LIGHT_30 PNG "TrayCycleBinLight30.png"
IDI_BIN_LIGHT_31 PNG "TrayCycleBinLight31.png"
IDI_BIN_LIGHT_32 PNG "TrayCycleBinLight32.png"
IDI_BIN_LIGHT_33 PNG "TrayCycleBinLight33.png"
IDI_BIN_LIGHT_34 PNG "TrayCycleBinLight34.png"
IDI_BIN_LIGHT_35 PNG "TrayCycleBinLight35.png"
IDI_BIN_LIGHT_36 PNG "TrayCycleBinLight36.png"
IDI_BIN_LIGHT_37 PNG "TrayCycleBinLight37.png"
IDI_BIN_LIGHT_38 PNG "TrayCycleBinLight38.png"
IDI_BIN_LIGHT_39 PNG "TrayCycleBinLight39.png"
IDI_BIN_LIGHT_40 PNG "TrayCycleBinLight40.png"
IDI_BIN_LIGHT_41 PNG "TrayCycleBinLight41.png"
IDI_BIN_LIGHT_42 PNG "TrayCycleBinLight42.png"
IDI_BIN_LIGHT_43 PNG "TrayCycleBinLight43.png"
