#include "resource.h"

IDI_EMPTY_ICON_DARK ICON "recycle_bin_empty_dark.ico"
IDI_FULL_ICON_DARK  ICON "recycle_bin_full_dark.ico"
IDI_EMPTY_ICON_LIGHT ICON "recycle_bin_empty_light.ico"
IDI_FULL_ICON_LIGHT  ICON "recycle_bin_full_light.ico"
